html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline;}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {display: block;}
blockquote, q {quotes: none;}
blockquote:before, blockquote:after,
q:before, q:after {content: ''; content: none;}
table {border-collapse: collapse; border-spacing: 0;}
html{-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;}
*, *:before, *:after{-webkit-box-sizing: inherit; -moz-box-sizing: inherit; box-sizing: inherit;}
em{font-style: italic;}

@font-face{
  font-family:'proxima_nova_condensedregular';
  src:url('./proxima-nova-condensed-webfont.woff2') format('woff2'),
  url('./proxima-nova-condensed-webfont.woff') format('woff');
  font-weight:normal;
  font-style:normal;
}
@font-face {
  font-family:'proxima_nova_condensedbold';
  src:url('./proxima-nova-cond-bold-webfont.woff2') format('woff2'),
  url('./proxima-nova-cond-bold-webfont.woff') format('woff');
  font-weight:normal;
  font-style:normal;
}
body{margin:0; padding:0; font-size:15px; line-height:26px; /*color:#5c5c5c;*/ -webkit-font-smoothing:antialiased; -webkit-text-size-adjust:none; -webkit-tap-highlight-color:transparent; font-weight:400; background:#fefefe; overflow-x:hidden; color:#000000; font-family:'Roboto', sans-serif; /*font-family:'proxima_nova_condensedregular';*/}
img{border:0; max-width:100%; height:auto; display:inline-block; vertical-align:top;}
:focus {outline:0;}
::-moz-focus-inner {border:0;}
strong{font-weight: 700;}
a{outline:none; text-decoration:none; -webkit-tap-highlight-color: rgba(0,0,0,0); transition: all ease 0.4s; -webkit-transition: all ease 0.4s;}
strong{font-weight:700;}
textarea,
select,
input[type="text"],
input[type="button"],
input[type="search"],
input[type="password"],
input[type="email"],
input[type="reset"],
input[type="submit"]{-webkit-appearance:none; border-radius: none;}
textarea{overflow: hidden; resize: none;}
::-webkit-input-placeholder{color:#000; opacity:1;}

select option{color: #000;}
select::-ms-expand {display: none;}
select:focus::-ms-value{background: none; color:#000}
h1,h2,h3,h4,h5,h6{margin:10px 0 15px; padding:0; clear: both; font-weight:700;}
h1{font-size:36px;}
h2{font-size:30px;}
h3{font-size:24px;}
h4{font-size:22px;}
h5{font-size:20px;}
h6{font-size:18px;}
p{margin:0 0 10px;}
.container{padding:0 15px; max-width:1125px; margin:0 auto; position:relative;}
.button{text-align:center; display:inline-block; vertical-align:top; background:#d4403f; color:#fff; font-family: 'Roboto', sans-serif; font-weight:300; border:none; line-height:inherit; font-size:18px; padding:18px 55px; cursor:pointer; transition:all ease .3s; position:relative; z-index:1}
.button:before{width:0; left:0; top:0; height:100%; position:absolute; content:""; transition:all ease .3s; background:#e8005e; z-index:-1}
.button:hover:before{width:100%}
.button1{text-align:center; display:inline-block; vertical-align:top; background:#fff; color:#222; font-family: 'Roboto', sans-serif; font-weight:300; border:2px solid #7f7f7f; line-height:inherit; font-size:18px; padding:16px 55px; cursor:pointer; transition:all ease .3s; position:relative; z-index:1; margin:0 0 0 5px}
.button1:hover{color:#fff;}
.button1:before{width:0; left:0; top:0; height:100%; position:absolute; content:""; transition:all ease .3s; background:#7f7f7f; z-index:-1}
.button1:hover:before{width:100%}
.heading{font-size:36px; font-weight:400; margin:0 0 40px 0; padding:0 0 19px 0; position:relative;}
.heading span{border-bottom: 1px solid #d33f42; padding: 0 0 10px 0}
.heading.heading1{color:#fff;}
.try-arrow {position: absolute; left: -66px; transform: rotate(47deg); top:63px}


.menuModal{position:fixed; top:0; left:0; height:100%; width:100%; background:#fff; display: none;}
.menuModalIn{display:flex;}
.menuBlock{width:40%; background:#d33f42; padding:0 0 0 90px}
.visionBlock{width:60%; background:#fff; padding:0 0 0 90px}

/*=======================Header=======================*/
.header{background:#d33f42; position:sticky; position:-webkit-sticky; top:0; left:0; width:100%; z-index:2;}
.header .container{display: flex; justify-content: space-between;}
.logo{display:inline-block; vertical-align: top; width:46px; margin:13px 0 0 0; background: url(../images/logo.png) no-repeat; background-size: 100% auto;}
.header ul{list-style:none; margin:0; padding:0 35px 0 0; display:inline-block; vertical-align:top}
.header ul li{display:inline-block; vertical-align: top;}
.header ul li a{display: block; font-size: 20px; line-height: 28px; padding: 21px 25px; color: #fff; font-family:'proxima_nova_condensedbold';}
.header ul li a:hover{color: #fcba44;}
#hamburger{width:40px; height:22px; position:absolute; right:0; top:50%; margin:-11px 0 0 0; transform:rotate(0deg); transition:.5s ease-in-out; cursor:pointer; z-index:2}
#hamburger span{display:block; position:absolute; height:3px; width:calc(100% - 10px); background:#fff; border-radius:0; opacity:1; left:0; transform: rotate(0deg); transition:.25s ease-in-out}
#hamburger-bun:hover #hamburger span,
#hamburger-bun.active #hamburger span{background:#000}
#hamburger span:nth-child(1){top:0;}
#hamburger span:nth-child(2),
#hamburger span:nth-child(3){top:9px;}
#hamburger span:nth-child(4){top:18px;}
#hamburger.open span:nth-child(1){top:18px; width:0%; left:50%}
#hamburger.open span:nth-child(2){transform:rotate(45deg)}
#hamburger.open span:nth-child(3){transform:rotate(-45deg)}
#hamburger.open span:nth-child(4){top:18px; width:0%; left:50%}

.cd-breadcrumb{margin:0 0 25px 0;padding:0 1.2em; background-color: #edeff0; border-radius: .25em;}
.cd-breadcrumb::after{clear: both; content: ""; display: table;}
.cd-breadcrumb li{display:inline-block; float:left;}
.cd-breadcrumb li::after{display:inline-block; content:'\00bb'; margin:0 .6em; color:#959fa5;}
.cd-breadcrumb li:last-of-type::after{display: none;}
.cd-breadcrumb li > *{display: inline-block; color: #2c3f4c; padding:10px 0;}
.cd-breadcrumb li.current > *{color:#319795; font-style: normal;}
.no-touch .cd-breadcrumb a:hover{color: #96c03d;}
.cd-breadcrumb.custom-separator li::after{content: ''; height: 16px; width: 16px; background: url(https://codyhouse.co/demo/breadcrumbs-multi-steps-indicator/img/cd-custom-separator.svg) no-repeat center center; vertical-align: middle;}
.cd-breadcrumb.custom-icons li > *::before{content: ''; display: inline-block; height: 20px; width: 20px; margin-right: .4em; margin-top: -2px; background: url(https://codyhouse.co/demo/breadcrumbs-multi-steps-indicator/img/cd-custom-icons-01.svg) no-repeat 0 0; vertical-align: middle;}
@media only screen and (min-width:768px) {
  .cd-breadcrumb li::after{margin:0 1em;}
}

.heroPage{padding:0 0 60px;}
.heroBanner{text-align:center; padding:100px 0}
.heroBanner h1{margin:0 0 25px 0; font-size:70px; line-height:59px; color:#d33f42}
.heroBanner h2{margin:0; padding:0 0 35px 0; font-size:50px; line-height:40px; color:#222222; position:relative;}
.heroBanner h2:after{content:""; position:absolute; bottom:0; left:50%; margin:0 0 0 -61.5px; width:113px; height:7px; background:#d33f42}
.heroBanner p{color:#0d0d0d; font-size:22px; line-height:32px; font-weight:300; margin:29px 0}

.webVitalsNumber{text-align:center; border-top:1px solid #979797; padding:50px 0 70px 0}
.webVitalsNumber h3{ margin:0; color:#0d0d0d; font-size:26px; line-height:32px; font-weight:300;}
.webVitalsNumber h3 span{position:relative;padding:0 0 15px 0; }
.webVitalsNumber h3 span:before{content:""; background:#d33f42; width:100%; height:2px; position:absolute; bottom:0; left:0}
.webVitalsNumber ul{list-style:none; margin:45px 0 0 0; padding:0}
.webVitalsNumber p{font-size:48px; color:#656565; font-weight:700; line-height:40px; margin:0; display:inline-block; vertical-align:top; border-bottom:2px solid #cbcbcb; padding:20px 20px 20px 20px}
.webVitalsNumber p small{color:#d33f42; font-weight:700; font-size:48px;}
.webVitalsNumber ul li:last-child p{border-bottom:none; padding-bottom:0}

.workSamples{background:#080807; padding:70px 0;}
.workSamplesList{list-style:none; margin:0 0 35px 0; display:flex; justify-content:space-between; padding:8px 10px; background:#0c9b65; border-radius:15px;}
.workSamplesList li{display:inline-block; vertical-align:top; cursor:pointer; border-radius:15px; font-size: 16px; font-weight:400; padding:10px 20px}
.workSamplesList li.active{background:#000; color:#fff}
.workSamplesIn{display:flex; justify-content:center; align-items:center;}
.workSamples  .projectImage img{border-radius:10px}
.workSamples .projectDescriptions{max-width:550px; padding:0 0 0 50px}
.workSamples .projectDescriptions h3{font-size:54px; font-weight:500; color:#fff; margin:0 0 20px 0; line-height:50px;}
.workSamples .projectDescriptions h3 span{color:#0c9b65;}
.workSamples .projectDescriptions p{font-size:20px; line-height:31px; color:#fff; font-weight:300}
.workSamples .projectDescriptions .viewProject{background:#ffffff; border-radius:8px; line-height:normal; text-align:center; color:#191919; padding:16px 48px; display:inline-block; vertical-align:top; margin:10px 0 0 0; font-size:17px;}


.storiesListing{}
.storiesListingIn{display:grid; flex:1 1 calc(100% - 325px); grid-gap:25px; margin:50px 0 40px 0; grid-template-columns: repeat(auto-fill, minmax(275px, 1fr))}
.storiesListing article.fullStory{display:flex;}
.storiesListing article.fullStory .articleLogo{width:40%; order:2}
.storiesListing article.fullStory .articleCont{width:60%; padding:0 60px 0 0}
.storiesListing article.fullStory h4{font-size:34px; line-height:44px;}
.storiesListing article.fullStory p{font-size:19px; line-height:29px; font-weight:300; margin:10px 0 0 0}

.storiesListing article{margin:0 0 20px 0;}
.storiesListing article img{box-shadow:2px 2px 10px 2px rgb(0 0 0 / 15%); border-radius:10px; transform: translate3d(0,0,0); transition:all ease .3s; width:100%;}
.storiesListing article:hover img{transform:scale(.8); box-shadow:0 20px 25px rgb(0 0 0 / 25%);}
.storiesListing article span{margin:20px 0 0 0; font-size:14px; line-height:14px; color:#191919; display:inline-block; vertical-align:top;}
.storiesListing article span a{font-weight:600; color:#6359A6;} 
.storiesListing article h4{margin:8px 0 0 0; font-size:22px; font-weight:700; line-height:32px;}
.storiesListing article h4 a{color:#000;}
.storiesListing article h5{margin:12px 0 0 0; font-size:14px; line-height:14px; color:#191919;}
.storiesListing article h5 a{color:#000; opacity:.6;}
.articleCont p{display:-webkit-box; overflow:hidden; -webkit-line-clamp:3; -webkit-box-orient:vertical;}

/*.listingPage {margin:40px 0 90px; display:flex;}
.listingPage .storiesListing{width:100%; padding:0 5%;}
.listingPage .storiesListingIn{grid-gap:2%; grid-template-columns:repeat(auto-fill, minmax(23%, 1fr));}*/
.technologiesUsed{padding:12px 0 0 0; text-align:right; display:flex; justify-content:space-between;}
.technologiesUsed h3{display:inline-block; margin:0; font-size:16px; font-weight:400}
.technologiesUsed small{display:inline-block; vertical-align:top; line-height:22px; font-size:12px; padding:0 4px; color:#ce6644; border:1px solid #ce6644; border-radius:4px; margin:0 0 0 6px;}

.hirePage{margin:40px 0 0}
.hirePage .container{display:flex; flex-wrap:wrap;}
.hireBlock{width:65%}
.hirePage h1{color:#0d0d0d; font-size:72px; line-height: 80px; position:relative; margin:0; padding:0 0 22px 0}
.hirePage h1:before{content:""; left:0; bottom:0; width:113px; height:9px; background:#d33f42; position:absolute;}
.hirePage h2{color:#0d0d0d; font-size:22px; line-height:32px; font-weight:300; margin:29px 0 0 0}
.hirePage h3{color:#0d0d0d; font-size:29px; line-height:32px; margin:0}
.findASkill{background:#f2f2f2; padding:30px; margin:30px 0 0 0}
.findASkill ul{list-style:none; margin:0; padding:0; display:flex; flex-wrap:wrap;}
.findASkill ul li{background:#fff; width:49%; margin:2% 2% 0 0; padding:15px; border-radius:5px;}
.findASkill ul li:nth-child(2n+2){margin:2% 0 0 0;}
.findASkill h4{color:#0d0d0d; font-size:22px; line-height:26px; font-weight:700; margin:0}
.findASkill p{color:#0d0d0d; font-weight:300; font-size:16px; margin:8px 0 0 0;}
.shareSkill{padding:45px 150px 39px 0}
.shareSkill h3{font-size:30px; line-height:36px; margin:0}
.shareSkill h3 span{color:#d33f42}
.shareSkill p{font-size:18px; line-height:26px; font-weight:400; margin:8px 0 0 0;}

#hireSidebar{border:1px solid #e0e0e0; width:35%; padding:31px}
#hireSidebar h3{color:#0d0d0d; font-size:29px; line-height:32px; margin:0}
.formGroup{margin:20px 0 0 0}
#hireSidebar label{color:#0d0d0d; font-size:18px; line-height:26px; font-weight:400; margin:0 0 10px 0; display:block}
#hireSidebar input[type="text"]{background:#f2f2f2; height:54px; border:none; padding:0 30px; color:#0d0d0d; font-size:16px; letter-spacing:.5px; font-family: 'Roboto', sans-serif; width:100%}
::-webkit-input-placeholder {color:#c1c1c1; opacity:1}
#hireSidebar span{display:block; font-size: 12px; line-height:12px; margin:50px 0 0 0; color:#868686; letter-spacing:.2px}
#hireSidebar .button{margin:25px 0 0 0}

.contactPage{margin:40px 0 0 0;}
.contactTop{text-align:center; margin:40px 0 0 0}
.contactTop h1{position:relative; font-size:76px; line-height:86px; margin:0; padding:0 0 26px 0}
.contactTop h1:after{content:""; position:absolute; bottom:0; left:50%; margin:0 0 0 -61.5px; width:113px; height:9px; background:#d33f42}
.contactTop h2{color:#0d0d0d; font-size:23px; line-height:32px; font-weight:300; margin:29px 0 0 0}
.contactBlocks{background:#f4f4ef; padding:55px 0 40px; margin:45px 0}
.contactBlocks ul{list-style:none; margin:0; padding:0; display:flex; flex-wrap:wrap;}
.contactBlocks ul li{width:32%; float:left; margin:0 2% 15px 0; background:#fff; padding:25px;}
.contactBlocks ul li:last-child{margin:0 0 15px 0}
.contactBlocks ul li h3{font-size:21px; line-height:30px; padding:0 60px 0 0}
.contactBlocks ul li h4{margin-bottom:0; color:#d33f42; font-size:25px}
.contactBlocks ul li h4 a{color:#d33f42}
.formContactJustify{display:flex; justify-content:space-between;}
.formContactJustify .formGroup{margin:20px 15px 0 0; width:100%}
.formContactJustify .formGroup:last-child{margin:20px 0 0 0}
.textField{background:#f2f2f2; height:54px; border:none; padding:0 30px; color:#0d0d0d; font-size:16px; letter-spacing:.5px; font-family: 'Roboto', sans-serif; width:100%}
.textAreaField{background:#f2f2f2; height:54px; border:none; padding:15px 30px; height: 260px; color:#0d0d0d; font-size:16px; letter-spacing:.5px; font-family: 'Roboto', sans-serif; width:100%}
.textField::-webkit-input-placeholder,.textAreaField::-webkit-input-placeholder {color:#000; opacity:1; overflow:hidden; resize:none;}
.contactPage form span{display:block; font-size:22px; font-weight:700; line-height:32px; margin:50px 0 0 0; color:#000;}
.contactPage form .button{margin:25px 0 0 0}

.footer{background:#f4f4ef; padding:35px 0 0 0}
.footer .container{display:flex;}
.widgetBlock{width:25%; padding:30px 0 0 0}
.widgetBlock:first-child{width:30%; padding:30px 20px 0 0}
.widgetBlock h4{color:#6e6e6c; font-size:20px; margin-top:0}
.widgetBlock ul{list-style:none; margin:0; padding:0}
.widgetBlock ul li{display:block; margin:0 0 8px}
.widgetBlock ul li a{display:block; color:#000}
.copyright{text-align:center; border-top:1px solid #979797; padding:23px 0 21px; margin:55px 0 0 0}

@media(max-width:767px){
.logo{margin:10px 0; height:37px; width:38px}
#hamburger{right:15px}
.header{margin:0}
.header ul{padding:0; position:fixed; top:0; left:0; height:100%; width:100%; z-index:1; background:#d33f42; display:flex; justify-content:center; align-items:center; flex-direction:column; opacity:0; visibility:hidden;}
.header ul li{width:100%; text-align:center;}
.header ul li a{font-size:24px; line-height:30px; padding:20px 0}

.cd-breadcrumb{padding:5px 15px; margin:0 0 15px; text-overflow:ellipsis; overflow:hidden; white-space:nowrap}
.cd-breadcrumb li{display:inline; float:none; font-size:14px}
.cd-breadcrumb li > *{display:inline; font-size:14px; padding:5px 0}

.heading{font-size:28px; margin:0 0 25px 0}
.heroPage{padding:0;}
.heroBanner{height:100vh; display:flex; align-items:center; flex-direction:column; justify-content:center; padding:0}
.heroBanner h1{margin:0 0 10px 0; font-size:35px; line-height:40px}
.heroBanner h2{margin:0; padding:0 20px 15px 20px; font-size:25px; line-height:33px}
.heroBanner h2:after{height:3px}
.heroBanner p{font-size:18px; line-height:28px; margin:22px 0; padding:0 10px}
.heroBanner p br{display:none}
.webVitalsNumber{padding:25px 0 45px}
.webVitalsNumber h3{font-size:20px; line-height:36px}
.webVitalsNumber h3 span{padding:0 0 6px 0}
.webVitalsNumber h3 span:before{height:2px;}
.webVitalsNumber ul{margin:10px 0 0 0}
.webVitalsNumber p{font-size:23px; line-height:25px; padding:15px 0;}
.webVitalsNumber p small{font-size:23px}

.storiesListingIn{margin:30px 0; grid-gap:30px;}
.storiesListing article{margin:0; padding:0 0 30px 0; border-bottom:1px solid #efefef;}
.storiesListing article.fullStory{display:block;}
.storiesListing article.fullStory .articleLogo{width:100%; order:1}
.storiesListing article.fullStory .articleCont{width:100%; padding:0}
.storiesListing article.fullStory h4{font-size:24px; line-height:34px}
.storiesListing article.fullStory p{font-size:17px; line-height:27px}
.storiesListingIn article:last-child{border-bottom:none; padding:0}

.footer{padding:0}
.copyright{margin:25px 0 0 0}
.hirePage .container{display:block;}
.hireBlock{width:100%}
.hirePage h1{font-size:30px; line-height:39px; padding:0px 0 10px 0;}
.hirePage h1:before{height:4px;}
.hirePage h2{font-size:16px; line-height:28px; margin:15px 0 0 0;}
.hirePage h1 br,.hirePage h2 br{display:none}
.hirePage h3{font-size:24px; line-height:32px}
.findASkill{padding:15px}
.findASkill ul{flex-wrap:inherit; overflow-x:auto; overflow-y:hidden; -webkit-overflow-scrolling:touch; padding:0 0 8px 0; margin:15px 0 0 0}
.findASkill ul li{width:260px; margin:0 15px 0 0; padding:15px; flex-shrink:0}
.findASkill ul li:nth-child(2n+2){margin:0 15px 0 0}
.findASkill ul li:last-child{margin:0}
.findASkill h4{font-size:19px; line-height:26px}
.findASkill p{font-size:15px; line-height:24px}
.shareSkill{padding:30px 0}
.shareSkill p{font-size:16px; line-height:26px}
#hireSidebar{width:100%; padding:20px 20px 25px; margin:0 0 40px 0}
#hireSidebar h3{font-size:24px; line-height:32px}
#hireSidebar label{font-size:15px; line-height:24px; margin:0 0 5px 0}
#hireSidebar span{margin:35px 0 0 0}
#hireSidebar input[type="text"]{font-size:15px; height:46px; padding:0 20px}
.button, .button1{font-size:15px; padding:12px 0; width:100%; margin:0 0 10px 0}

.contactPage{margin:25px 0 0 0}
.contactTop h1{font-size:34px; line-height:44px; padding:0 0 12px 0}
.contactTop h1:after{margin:0 0 0 -40px; width:80px; height:2px}
.contactTop h2{font-size:19px; line-height:28px; margin:20px 0 0 0; padding:0 20px}
.contactBlocks{padding:40px 0; margin:25px 0 0 0}
.contactBlocks ul{ overflow-x:auto; overflow-y:hidden; -webkit-overflow-scrolling:touch; flex-wrap:inherit; padding:0 0 8px 0;}
.contactBlocks ul li{width:260px; margin:0 15px 0 0; flex-shrink:0}
.contactBlocks ul li:last-child{margin:0}
.contactBlocks ul li h3{padding:0}
.contactBlocks ul li h4{font-size:22px}
.footer .container{display:block}
.widgetBlock:first-child{width:100%; padding:30px 0 0 0}
.widgetBlock{width:100%;}
.widgetBlock:nth-child(2),.widgetBlock:nth-child(3){width:50%; float:left;}
.widgetBlock:last-child{display:flex; flex-direction:column;}

}